body {
    padding: 0;
    margin: 0;
    width: 100vw;
    font-family: "Ruwudu", serif;
}
.container {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #f1f1f1;
}
.main-content,
.this-week-forecast,
.side-bar-content {
    background-color: #fff;
    border-radius: 15px;
}
.header {
    display: flex;
    background-color: rgba(27, 24, 24, 0.85);
    height: 70px;
    color: #fff;
    justify-content: space-between;
    padding: 5px 40px;
    align-items: center;
    position: relative;
}
.header h2 {
    margin-top: 35px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1.8rem;
}
.header h2 > img {
    height: 50px;
}
.header > input[type="search"] {
    height: 40px;
    width: 320px;
    border-radius: 15px;
    padding: 10px 10px 0;
}
.header > input[type="search"],
.header > input[type="checkbox"] {
    border: none;
    appearance: none;
    outline: none;
    font-size: 17px;
    font-family: inherit;
}
.header > img {
    height: 25px;
    position: absolute;
    right: 33.3%;
    cursor: pointer;
}
.header > img:hover {
    transform: scale(0.9);
}
.header > input[type="checkbox"] {
    width: 60px;
    padding: 10px 0;
    background-color: #d4d4d4;
    border-radius: 20px;
    cursor: pointer;
}
.header > span.circular-shape {
    height: 23px;
    width: 23px;
    border-radius: 50%;
    position: absolute;
    right: 75px;
    background-color: #fff;
    cursor: pointer;
    border: 3px solid #d4d4d4;
}
.header > span.C {
    position: absolute;
    top: 32px;
    right: 82.5px;
    font-size: 1rem;
    cursor: pointer;
    color: #171313df;
    z-index: 10;
}
.header > span.F {
    position: absolute;
    top: 31px;
    right: 47.5px;
    font-size: 1rem;
    color: #000;
    cursor: pointer;
    z-index: 10;
}
.header > input[type="checkbox"]:checked {
    background-color: rgba(12, 182, 12, 0.951);
}
.header > input[type="checkbox"]:checked ~ span.circular-shape {
    right: 37px;
    background-color: #fff;
    border: 3px solid rgba(12, 182, 12, 0.951);
}
.header > input[type="checkbox"]:checked ~ span.F {
    right: 45px;
}
.header > input[type="checkbox"]:checked + span.C {
    right: 80px;
    color: #fff;
    top: 31px;
}
.wrapper {
    display: grid;
    grid-template-columns: 65% 35%;
    padding: 20px 110px;
    gap: 25px;
    position: relative;
}
.main-content {
    display: flex;
    flex-direction: column;
}
.current-weather {
    display: flex;
    flex-grow: 1;
    padding: 15px 10px;
    justify-content: space-between;
    background-image: url(./icons/partly-cloud.jpg);
    height: 200px;
    background-size: cover;
    background-color: black;
    object-fit: cover;
}
.location {
    display: flex;
    align-items: center;
    font-size: 1.7rem;
    margin-bottom: 0;
}
.current-weather .location > img {
    height: 28px;
    width: auto;
    transform: translateY(10%);
}
.current-weather .location > p {
    margin-bottom: 0;
}
.current-weather > div:first-child > p {
    margin-top: -15px;
    color: #000000bd;
    margin-left: 10px;
}
.current-weather-icon {
    margin-top: -50px;
    display: flex;
    align-items: center;
}
.current-weather-icon img {
    height: 68px;
    /* backdrop-filter: blur(3px); */
    background-color: transparent;
    width: auto;
}
.current-weather .current-weather-icon h1 {
    font-weight: 500;
    margin-top: 60px;
    font-size: 3.1rem;
    color: #000000ca;
}
.current-weather h2 {
    font-size: 1.8rem;
    margin-bottom: 0;
    font-weight: 500;
    color: #000000da;
    margin-top: 33px;
    width: clamp(4ch, 13ch, 17ch);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.current-weather div:last-child p {
    font-size: 1.2rem;
    margin-top: 25px;
}
.current-weather div:last-child p:last-child {
    margin-top: -10px;
}
.hourly-weather-forecast {
    display: flex;
    overflow-x: scroll;
    padding: 20px;
    gap: 15px;
}
.hourly-weather-forecast > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px dotted gray;
    padding-right: 15px;
}
.hourly-chance-of-rain > img,
.daily-chance-of-rain > img {
    height: 18px;
    transform: translateY(-21%);
}
.hourly-chance-of-rain,
.daily-chance-of-rain {
    display: inline-flex;
    align-items: center;
}
.hourly-weather-forecast div.hourly-chance-of-rain > p,
.this-week-forecast div.daily-chance-of-rain > p {
    font-size: 16px;
    font-weight: 400;
}
.side-bar-content {
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
    gap: -5px;
}
.side-bar-content > div {
    display: flex;
    justify-content: space-between;
    height: 60px;
}
.side-bar-content p > img {
    height: 20px;
}
.side-bar-content div p:first-of-type {
    display: inline-flex;
    gap: 10px;
}
.side-bar-content div p {
    font-size: 18px;
}
.this-week-forecast {
    display: flex;
    grid-column: span 2;
    padding: 20px;
}
.this-week-forecast > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px dotted gray;
    margin: 0;
    padding-right: 10px;
    flex-grow: 1;
}
.this-week-forecast > div:last-child,
.hourly-weather-forecast > div:last-child {
    border: none;
}
.hourly-weather-forecast p:first-of-type,
.this-week-forecast p:first-of-type {
    font-size: 1.2rem;
    font-weight: 500;
}
.loader-container {
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.loader {
    height: 250px;
    width: auto;
}
